Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/KiteDemo
Content/FirstPersonBP/Maps/ALevel_BuiltData.uasset
Content/RLevel_BuiltData.uasset
Content/MountainMeshTake3.uasset
Content/Geometry/MountainMeshTake3_1.uasset
Content/shack.fbx
Content/MountainMeshTake3_1.uasset
Content/*.uasset 
